h1 {
	font-size: 30px;
	text-align: center; 
	color: #FF9696;
}

body {
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	color: #242424;
	background-image: url(images/concrete_seamless.png);
}

ul li {
	display: inline-block
}

li {
	list-style-type: none;
}